name: release

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Bump Version
        id: tag_version
        uses: mathieudutour/github-tag-action@a22cf08638b34d5badda920f9daf6e72c477b07b # v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: minor
          custom_release_rules: bug:patch:Fixes,chore:patch:Chores,docs:patch:Documentation,feat:minor:Features,refactor:minor:Refactors,test:patch:Tests,ci:patch:Development,dev:patch:Development
      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '1.24'
      - name: Build Artifacts
        run: build/build.sh "${{ steps.tag_version.outputs.new_tag }}"
      - name: Create Release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          tag: ${{ steps.tag_version.outputs.new_tag }}
          name: ${{ steps.tag_version.outputs.new_tag }}
          body: ${{ steps.tag_version.outputs.changelog }}
          artifacts: |
            dist/cbr_${{ steps.tag_version.outputs.new_tag }}_linux_amd64
            dist/cbr_${{ steps.tag_version.outputs.new_tag }}_linux_arm64
            dist/cbr_${{ steps.tag_version.outputs.new_tag }}_darwin_amd64
            dist/cbr_${{ steps.tag_version.outputs.new_tag }}_darwin_arm64
            dist/cbr_${{ steps.tag_version.outputs.new_tag }}_windows_amd64.exe
          artifactErrorsFailBuild: true
          token: ${{ secrets.GITHUB_TOKEN }}
